<a href="https://colab.research.google.com/github/dannxdr/DALC_Scala/blob/main/DALC_Scala_4%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##pandas 설치 및 기초 실습

In [1]:
import pandas

In [2]:
import numpy as np
import pandas as pd

In [4]:
#Series
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [12]:
#인덱스로 문자열 사용 가능
data = pd.Series([0.25,0.5,0.75,1.0])
index=['a','b','c','d']
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [15]:
#문자열 인덱스로 항목에 접근 가능
index['a']

TypeError: ignored

#### 딕셔너리 구조
- 일련의 임의의 값에 임의의 키를 매핑
- 타입이 지정된 키를 일련의 타입이 지정된 값에 매핑하는 구조

In [16]:
population_dict = {'California' : 38332621,'Texas':26448393,'New York' : 19651127,'Florida' : 19552860,'Illinois':12882135}
population = pd.Series(population_dict)
population

California    38332621
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [17]:
#인덱스가 정렬된 키에서 추출되는 경우 값을 불러옴
population['California']

38332621

In [19]:
#슬라이싱 같이 배열 스타일의 연산 지원
population['California' : 'Illinois']

California    38332621
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [20]:
#리스트 혹은 넘파이 배열, 인덱스 생략가능
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [23]:
#data가 딕셔너리일 경우 기본적으로 딕셔너리 키로 정렬해서 취함
dic_dta = {2:'a',1:'b',3:'c'}
dic_dta

{1: 'b', 2: 'a', 3: 'c'}

####DataFrame
- 행 인덱스 : 시리즈 인덱스와 동일
- 열 인덱스 : 열 이름
- 데이터프레임 : 행 인덱스와 열 이름을 갖는 행렬, 시리즈 객체의 연속

In [25]:
area_dict = {'California' : 423967,'Texas': 696565,'New York' : 1419297,'Florida' : 170312,'Illinois':149995}
area = pd.Series(area_dict)
area

California     423967
Texas          696565
New York      1419297
Florida        170312
Illinois       149995
dtype: int64

In [26]:
states = pd.DataFrame({'population':population,'area':area})
states

            population     area
California    38332621   423967
Texas         26448393   696565
New York      19651127  1419297
Florida       19552860   170312
Illinois      12882135   149995

In [27]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [28]:
states.columns

Index(['population', 'area'], dtype='object')

In [29]:
states['area']

California     423967
Texas          696565
New York      1419297
Florida        170312
Illinois       149995
Name: area, dtype: int64

In [30]:
#단일 시리즈로 데이터 프레임 구성 가능
pd.DataFrame(population,columns=['population'])

            population
California    38332621
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135

In [32]:
pd.DataFrame(population,index=['Texas'],columns=['population'])

       population
Texas    26448393

In [33]:
#누락된 자리는 NaN 값으로 채움
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0